.card-solutions {
    button {
        background-color: transparent !important;
    }

    button::after {
        margin-left: 8px !important;
    }
}

@media (min-width: 768px) {
    .card-solutions {
        width: 100% !important;
    }
}