.card-blog {
    border: 1px solid var(--text-color);
    
    #image {
        img {
            height: 130px;
            width: 130px;
            object-fit: cover;
            border: 1px solid var(--neutral);
        }
        .frame{
            position: relative;
            height: 150px;
            overflow: hidden;
        }
    }
}

#cards-blog {
    div{
        :nth-child(2){
            padding-left: 2rem;
            padding-right: 2rem;
        }
    }
}

#image{
    position: relative;
    transition: all 1s;
}

@media (min-width: 576px){
    .card-blog {
        #info {
            h4 {
                text-align: justify;
            }
        }
    }
}

.card-blog:hover {
    cursor: pointer;
}

@media (min-width: 1200px) and (max-width: 1399.98px) {
    .card-blog{
        #image {
            img {
                height: 130px;
                width: 130px;
            }
            .frame{
                height: 130px;
            }
        }
    }
    .card-blog{
        .dif {
            #image {
                img{
                    height: 120px;
                    width: 120px;
                }
                .frame{
                    height: 120px;
                }
            }
        }
    }
}
  
@media (min-width: 992px) and (max-width: 1199.98px) {
    .card-blog{
        #image {
            img {
                height: 90px;
                width: 90px;
            }
            .frame{
                height: 130px;
            }
        }

        .dif {
            #image{ 
                img{
                    height: 150px;
                    width: 150px;
                }  
                .frame{
                    height: 150px;
                } 
            }   
        }
    }

    
    #cards-blog{
        div{
            :nth-child(2){
                padding-left: 1.5rem;
                padding-right: 0rem;
            }
        }
    }
}
  
@media (min-width: 768px) and (max-width: 991.98px) {
    .card-blog{
        #image {
            img {
                height: 200px;
                width: 200px;
            }
            .frame{
                height: 200px;
            }
        }
    }
    .card-blog{
        .dif{
            #image {
                img {
                    height: 120px;
                    width: 120px;
                }
                .frame{
                    height: 120px;
                }
            }
        }
    }
}

@media (max-width: 420px) {
    .card-blog{
        .dif{
            #image {
                img {
                    height: 100px;
                    width: 100px;
                }
                .frame{
                    height: 100px;
                }
            }
        }
    }
    .card-blog{     
        #image {
            img {
                height: 90px;
                width: 90px;
            }
            .frame{
                height: 90px;
            }
        }  
    }

    #cards-blog {
        div{
            :nth-child(2){
                padding-left: 1.5rem;
                padding-right: 0rem;
            }
        }
    }
}

@media (min-width: 576px){
    .card-blog {
        #info {
            h4 {
                text-align: justify;
            }
        }
    }
}

@media (max-width: 768px) {
    #cards-blog {
        div{
            :nth-child(2){
                padding-left: 0rem;
                padding-right: 0rem;
            }
        }
    }
}



.bt-h{
    text-align: center;
    height: 100%;
    width: 100%;
    display: flex;
    position: absolute;
    bottom: 0;
    justify-content: center;

    button{
        bottom: 0%;
        height: auto;
        visibility: hidden;
        position: absolute;
        transition: visibility 0.7s, bottom 1s;
    }
}

.card-blog{
    :hover{
        #image{
            transition: all 1s;
        }

        .bt-h{ 
            button{
                visibility: visible;
                height: auto;
                bottom: 50%;
                transform: translateY(50%);
                transition: all 1s;
                transition: visibility 0.7s, bottom 1s;
            }  
            background-color: rgb(66, 109, 169, 0.5);
            transition: all 1s; 
        }
    }
}