.card-testimonial {
    background-color: var(--primary-color);

    img {
        width: 100px;
        height: 100px;
        object-fit: cover;
    }

    h4, p {
        font-weight: 100;
        color: var(--neutral);
    }
}

@media (min-width: 768px) {
    .card-testimonial {
        width: 75% !important;
    }
}