.card-blog {
    #image {
        img {
            height: 100px;
            width: 100px;
            object-fit: cover;
            border: 1px solid var(--neutral);
        }
    }

    #info {
        h4 {
            text-align: justify;
        }
    }
}

.card-blog:hover {
    cursor: pointer;
}