footer {
    background-color: var(--text-color);

    .container {
        padding: 4% 5vw !important;

        #top-section {
            .col- {
                .navbar-brand {
                    width: 10%;

                    // img {
                    //     width: 20%;
                    // }
                }
            }
        }

        hr {
            margin-top: 5% 0 !important; 
        }

        #middle-section {
            .col-12 {
                .d-flex {
                    p {
                        color: var(--neutral);
                    }
                }
            }
        }

        #bottom-section {
            color: var(--neutral);
        }
    }
}

#whatsapp-button {
    position: fixed;
    z-index: 3;
    bottom: 3vh;
    right: 3vh;

    img {
        width: 60px;
        height: 60px;
    }
}

.grecaptcha-badge {
    bottom: 90px !important;
}

@media (min-width: 768px) {
    footer {
        .container {
            #top-section {
                justify-content: flex-start !important;
            }

            #middle-section {
                .col-12 {
                    margin-bottom: 0 !important;
                }
            }
        }
    }
}