footer {
    background-color: var(--text-color);

    .container {
        #top-section {
            .col-3 {
                .navbar-brand {
                    width: 20%;

                    img {
                        width: 90%;
                    }
                }
            }
        }

        #middle-section {
            .d-flex {
                p {
                    color: var(--neutral);
                }
            }
        }

        #bottom-section {
            color: var(--neutral);
        }
    }
}