main {
  overflow-x: hidden;
}

main #banner {
  height: 100vh;
  background-image: url("../img/banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

main #banner .container h4 {
  font-weight: 300;
}

main #about .container #info-about #image img {
  border-radius: 7px;
  border: 1px solid var(--text-color);
}

main #about .container #concepts .col-12 {
  margin-bottom: 10px;
}

main #about .container #concepts .col-12 .card-concepts {
  background-color: var(--primary-color);
  min-height: 200px;
}

main #about .container #concepts .col-12 .card-concepts ul, main #about .container #concepts .col-12 .card-concepts li {
  list-style: inside;
  color: var(--neutral);
}

main #solutions {
  background-color: var(--secondary-color);
}

main #contact .container .row #form {
  background-color: var(--secondary-color);
}

main #contact .container .row #form select {
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

main #contact .container .row #form select option {
  background-color: var(--neutral);
  color: var(--secondary-color);
}

main #contact .container .row #form select:focus {
  outline: none;
}

main #contact .container .row #form input, main #contact .container .row #form select {
  font-size: 16px;
  font-weight: 200;
  width: 100% !important;
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid var(--neutral);
  color: var(--neutral);
  padding: 3px 1px;
}

main #contact .container .row #form input:focus {
  border: 0;
  outline: none;
  border-bottom: 1px solid var(--neutral);
}

main #contact .container .row #form input::-webkit-input-placeholder {
  color: #dfe6ef85;
}

main #contact .container .row #form input:-ms-input-placeholder {
  color: #dfe6ef85;
}

main #contact .container .row #form input::-ms-input-placeholder {
  color: #dfe6ef85;
}

main #contact .container .row #form input::placeholder {
  color: #dfe6ef85;
}

main #contact .container .row #form input[type="submit"] {
  width: 25% !important;
  font-family: Mitr;
  font-style: normal;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-weight: 400;
  font-size: 14px;
  background-color: var(--neutral);
  margin-bottom: 5%;
  border-radius: 4px;
  padding: 12px 16px;
  letter-spacing: 1px;
  border: 0;
  color: var(--secondary-color);
  -webkit-transition-duration: 200ms;
          transition-duration: 200ms;
}

main #contact .container .row #form input[type="submit"]:hover {
  background-color: var(--secondary-color-0);
  color: var(--neutral);
}

main #contact .container .row #form .wpcf7-not-valid-tip {
  color: var(--error);
}

main #partners {
  background-image: url("../img/partners-bgc.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-backdrop-filter: opacity(10%);
          backdrop-filter: opacity(10%);
}

main #blog {
  background-color: var(--primary-color-0);
}

@media (min-width: 768px) {
  main #banner .container .w-100 {
    width: 60% !important;
  }
}
/*# sourceMappingURL=front-page.css.map */