main {
    overflow-x: hidden;

    #banner {
        height: 70vh;
        background-image: url('../img/banner.jpg');
        background-size: cover;
        background-repeat: no-repeat;

        .container {
            h4 {
                font-weight: 300;
            }
        }
    }

    #about {
        .container {
            #info-about {
                #image {
                    img {
                        border-radius: 7px;
                        border: 1px solid var(--text-color);
                    }
                }
            }

            #concepts {
                .col-12 {
                    margin-bottom: 10px;

                    .card-concepts {
                        background-color: var(--primary-color);
                        min-height: 200px;

                        ul, li {
                            list-style: inside;
                            color: var(--neutral);
                        }
                    }
                }
            }
        }
    }

    #solutions {
        background-color: var(--secondary-color);
    }

    #contact {
        .container {
            .row {
                #form {
                    form {
                        background-color: var(--secondary-color);
                        border-radius: 7px;
                        padding: 10px 25px;
                        margin: 0 auto;

                        select {
                            cursor: pointer;
                            appearance: none;
                            
                            option {
                                background-color: var(--neutral);
                                color: var(--secondary-color);
                            }
                        }

                        select:focus {
                            outline: none;
                        }

                        input, select {
                            font-size: 16px;
                            font-weight: 200;
                            width: 100% !important;
                            background-color: transparent;
                            border: 0;
                            border-bottom: 1px solid var(--neutral);
                            color: var(--neutral);
                            padding: 3px 1px;
                        }

                        input:focus {
                            border: 0;
                            outline: none;
                            border-bottom: 1px solid var(--neutral);
                        }

                        input::placeholder {
                            color: #dfe6ef85;
                        }

                        input[type="submit"] {
                            width: 25% !important;
                            font-family: Mitr;
                            font-style: normal;
                            height: fit-content;
                            font-weight: 400;
                            font-size: 14px;
                            background-color: var(--neutral);
                            margin-bottom: 5%;
                            border-radius: 4px;
                            padding: 12px 16px;
                            letter-spacing: 1px;
                            border: 0;
                            color: var(--secondary-color);
                            transition-duration: 200ms;
                        }

                        input[type="submit"]:hover {
                            background-color: var(--secondary-color-0);
                            color: var(--neutral);
                        }

                        .wpcf7-not-valid-tip {
                            color: var(--error);
                        }

                        .wpcf7-response-output {
                            color: var(--neutral);
                        }
                    }
                }
            }
        }
    }

    #partners {
        background-image: url('../img/partners-bgc.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }

    #blog {
        background-color: var(--primary-color-0);
    }
}

@media (min-width: 768px) {
    main {
        #banner {
            .container {
                .w-100 {
                    width: 60% !important;
                }
            }
        }
    }
}