main {
    #banner {
        height: 100vh;
        background-image: url('../img/banner.jpg');
        background-size: 100%;
        background-repeat: no-repeat;

        .container {
            h4 {
                font-weight: 300;
            }
        }
    }

    #about {
        .container {
            #info-about {
                #image {
                    img {
                        border-radius: 7px;
                        border: 1px solid var(--text-color);
                    }
                }
            }

            #concepts {
                .col-12 {
                    margin-bottom: 10px;

                    .card-concepts {
                        background-color: var(--primary-color);
                    }
                }
            }
        }
    }

    #solutions {
        background-color: var(--secondary-color);
    }

    #partners {
        background-image: url('../img/partners-bgc.jpg');
        background-size: 100%;
        backdrop-filter: opacity(10%);
    }

    #blog {
        background-color: var(--primary-color-0);
    }
}

@media (min-width: 768px) {
    main {
        #banner {
            .container {
                .w-100 {
                    width: 60% !important;
                }
            }
        }
    }
}