main {
    #banner {
        height: 100vh;
        background-image: url('../img/banner.jpg');
        .container {
            h1 {
                color: var(--neutral);
            }

            h4 {
                color: var(--neutral);
                font-weight: 300;
            }
        }
    }
}