:root {
  /* colors */
  --primary-color: #426DA9;
  --primary-color-1: #5F9EF5;
  --primary-color-0: #294369;
  --secondary-color: #6558B1;
  --secondary-color-1: #917EFC;
  --secondary-color-0: #413870;
  --text-color: #132937;
  --neutral: #DFE6EF;
  --error: #F94646;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1, h2, h3, h4 {
  font-family: MuseoModerno;
  margin-bottom: 0;
  color: var(--text-color);
}

h1 {
  font-size: 64px;
  font-weight: 500;
}

h2 {
  font-size: 48px;
  font-weight: 300;
}

h3 {
  font-size: 32px;
  font-weight: 500;
}

h4 {
  font-size: 20px;
  font-weight: 500;
}

a, p {
  font-family: Mitr;
  font-style: normal;
  font-weight: 300;
  text-decoration: none;
  margin-bottom: 0;
  color: var(--text-color);
}

p.body {
  font-size: 16px;
  font-weight: 300;
}

p.body-2 {
  font-size: 14px;
  font-weight: 300;
}

p.caption {
  font-size: 12px;
  font-weight: 200;
}

p.overline {
  font-size: 10px;
  font-weight: 200;
}

ul, li {
  list-style: none;
}

hr {
  border: 0px;
  border-top: 3px solid var(--text-color);
  opacity: 1;
}

.f-neutral {
  color: var(--neutral);
}

.bg-neutral {
  background-color: var(--neutral);
}

hr.neutral {
  border-top: 2px solid var(--neutral);
}

hr.thin {
  border-top: 1px solid var(--neutral);
}

button {
  font-family: Mitr;
  font-style: normal;
  height: fit-content;
  font-weight: 400;
  font-size: 14px;
  background-color: transparent;
  border-radius: 4px;
  padding: 12px 16px;
  letter-spacing: 1px;
  border: 1px solid var(--neutral);
  color: var(--neutral);
}

button:hover {
  background-color: var(--neutral);
  color: var(--primary-color);
}

button.neutral {
  background-color: var(--neutral);
  border: 0;
  color: var(--primary-color-0);
}

button.neutral:hover {
  background-color: var(--primary-color-0);
  border: 0;
  color: var(--neutral);
}