header {
    position: fixed;
    width: 100%;
    background-color: '#284c80' !important;
    z-index: 100;

    nav {
        .container {
            .navbar-brand {
                width: 20%;
                
                img {
                    width: 100%; 
                }

                #reduced-logo, #logo, #neutral-logo {
                    display: none;
                }
            }

            .navbar-collapse {
                .navbar-nav {
                    .nav-item {
                        padding: 12px 16px;
                    }

                    .nav-item:hover {
                        a {
                            h4 {
                                color: var(--primary-color-1);
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 768px) {
    header {
        nav {
            .container {
                .navbar-brand {
                    #neutral-logo {
                        display: block;
                    }
                    
                    #reduced-neutral-logo, #reduced-logo, #logo {
                        display: none;
                    }
                }
            }
        }
    }
}